*{
    padding: 0;
    margin: 0;

}

.box {
    display: inline-block;
    width: 180px;
    height: 200px;
    margin: 20px;
    padding: 15px;
    color: white;
}

.box-1 {
    border: 5px solid  #246664;
    text-align: left;
    background-color: rgb(27, 69 , 67);
}

.box-2 {
    border: 5px dotted #0A291C;
    text-align: right;
    background-color: rgb(21, 80, 52);
}

.box-3 {
    border: 4px dashed #1B1A35;
    text-align: center;
    background-color: rgb(46, 44, 93);
}

.box-4 {
    border: 8px double #7980A5 ;
    text-align: justify;
    background-color: rgb(32, 35, 52);
}

.box-5 {
    border: 5px groove #2B133D;
    text-indent: 2em;
    background-color: rgb(125, 55, 171);
}

.home {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.nav {
    background-color: #262A2D;
    text-align: center;
    color: #C3C5C6;
    height: 50px;
    font-size: 30px;  
}

.nav li{
    display: inline-block;
    margin: 7px 15px;
}


.nav a {
    color: bisque;
    text-decoration: bisque;
}