*{
    padding: 0;
    margin: 0;
}
h2{
    font-family: cursive;
    text-align: center;
    margin-top: 50px;
}
.box-main-1{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border: 2px solid rgb(64, 64, 64,.8);
    margin: 0 100px 0 100px;
    height: 50px;
}
.box-main-1:hover{
    cursor: pointer;
    font-size: 20px;
    transition: 1s;
}
.box{
    background-color: rgb(31, 79, 128);
    border: 1px solid white;
    box-shadow: 2px 2px 3px rgb(10, 71, 133) inset;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.4em;
    margin: 2px;
}
hr{
    background-color: rgb(240, 106, 11);
    margin: 20px;
    height: 2px;
    border: none;
    margin: 20px 100px;
}
.box-main-2{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border: 2px solid rgb(64, 64, 64,.8);
    margin: 0 100px 0 100px;
}
.box2-2{
    background-color: rgb(208, 210, 212);
    border: 1px solid rgb(201, 201, 201);
    box-shadow: 2px 2px 3px rgb(10, 71, 133) inset;
    color: white;
    font-size: 1.4em;
    margin: 8px;
    height: 80px;
}
.box2-1{
    background-color: goldenrod;
    grid-column-start: 3 ;
    grid-template-rows: 31;
}
.holidays{
    background-color: rgb(197, 41, 163);
}
.holidays:hover{
    cursor: pointer;
    font-size: 25px;
    transition: 1s;
    background-color: rgb(221, 97, 194);
}
