*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/* ----------- navegacion ---------- */
.nav-container{
    display: grid;
    margin-bottom: 100px;
    grid-template:"empty-left logo  empty-center nav empty-center1 carrito-avatar empty-right"105px
                    "empty-left   bottom  bottom     bottom  bottom    bottom          empty-right"1vh/
                    1fr        20%   .2fr         35%    3fr          15%         1fr ;
    grid-gap: 10px;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
}
.logo{
    grid-area: logo;    
}
.logo>img{
    max-width: 100%;
    height: auto;
    margin: 35px 0 0 70px;
}
.nav {
    grid-area: nav;
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style: none;
}

.nav>ul>li {
    margin: 38px 10px 0 30px;
    position: relative;
}

.nav>ul>li>a {
    color: rgb(154, 157, 160);
    text-decoration: none;
    position: relative;
}

.nav>ul>li>a::before {
    content: '';
    position: absolute;
    bottom: 0;
    top: 50px;
    left: 0;
    width: 0;
    height: 5px;
    background-color: #FF7D1A;
    transition: width 0.3s ease-in-out, transform 0.3s ease-in-out; 
    transform: translateY(-100%); 
}

.nav>ul>li>a:hover::before {
    width: 100%;
    transform: translateY(0); 
}
.number > i {
    font-size: 1.8em;
}
.numero-carro{
    position: relative;
    bottom: 22px;
    right: 9px;
    border-radius: 50%; 
    color: #FFEDE0;
    background-color: #FF7D1A;
    font-size: .9em; 
    padding: 0.3em; 
}
.numero-hidden{
    display: none;
}
/* ------ CARRITO ------- */
.carrito-avatar{
    grid-area: carrito-avatar;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carrito-avatar>img{
    width: 3em;
    height: 3em;
    margin: 0 20px 0 20px;
}
.carrito-avatar>i{
    color: rgb(100, 102, 104);
    font-size: 1.5em;
}
.bottom {
    grid-area: bottom;
    background-color: rgb(145, 143, 143);
    width: 90%;
    justify-self: center; 
    height: 1px;
    display: flex;
    align-items: center;
}

/*----------- body -------------*/

.container-body{
    display: grid;
    margin-bottom: 10vh;
    grid-template:"empty-left box-main empty-middle contenido empty-right"  auto/
                    1fr        40%      .3fr         40%       1fr ;
                    /* grid-template-columns: repeat(auto-fit, minmax(1fr)); */
}
.contenido{
    grid-area: contenido;
    display: grid;
    align-items: center;
}
.titles>h3{
    margin: 20px 0;
    color: rgb(236, 148, 66);
    font-size: 1.1em;
}
.titles>h1{
    font-size: 2.4em;
    color: rgb(48, 46, 46);
}
.text {
    line-height: 2;
    color: #666; 
}
.precio {
    font-size: 1.5em; 
    font-weight: bold; 
    display: flex; 
    align-items: center; 
}

.descuento {
    font-size: 1.2rem; 
    color: #e98951; 
    background-color: #FFEDE0; 
    padding: 0.25rem 0.5rem; 
    border-radius: 0.25rem; 
    margin-left: 1rem; 
}

.precio-old {
    font-size: 1.2rem; 
    color: rgb(119, 115, 115); 
    border-radius: 0.25rem; 
    width: 20%;
    text-decoration: line-through;
}
.box-main{
    grid-area: box-main;
    display: grid;
    margin: 0 20px;
    grid-template:"img-box-main   empty-right"/ 
                    435px            1fr;
}
.add-to-cart {
    background-color: #FF7D1A;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 16px;
    width: 50%;
    height: auto;
}
.add-to-cart i {
    margin-right: 10px;
    font-size: 20px;
}
.botones-car{
    display: flex;
}
.buy-box{
    margin: 0 3em 0 0;
}
.add-to-cart:hover {
    background-color: #FFA84D;
    cursor: pointer;
}

img{
    border-radius: 10px;
}
.img-box-main{
    display: grid;
    grid-area: img-box-main;
    width: 100%;
    grid-template: "img-box    img-box   img-box    img-box   img-box    img-box   img-box"436px
                    "empty-0    empty-0   empty-0    empty-0   empty-0    empty-0   empty-0"30px
                    "box-mini1  empty1    box-mini2  empty2    box-mini3  empty3    box-mini4"90px/
                    90px        25px      90px       25px      90px       25px      90px;
                    
}
.img-box{
    grid-area: img-box; 
    width: 100%;
    cursor: pointer;
}
.rotate{
    transform: rotate(360deg);
    transition: 2s;
}
.img-mini{
    width: 100%;
    cursor: pointer;
}
.box-mini1{
    grid-area: box-mini1;
}
.box-mini2{
    grid-area: box-mini2;
}
.box-mini3{
    grid-area: box-mini3;
}
.box-mini4{
    grid-area: box-mini4;
}
.box-img-mini{
    border: 5px solid rgb(255, 125, 26);
    border-radius: 16px;
}
.img-mini-act{
    opacity: .4;
}
.icon-op{
    width: 50px;
    height: 50px;
    background-color: rgb(211, 208, 208);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    border: 1px solid whitesmoke;
}
.cant-box{
    display: flex;
}
.btn-restar{
    border-radius: 10px 0 0 10px;
    color: rgb(255, 125, 26);
    font-size: 2em;
}
.cant-obj{
    color: rgb(48, 48, 48);
    font-size: 1.3em;
}
.btn-sumar{
    border-radius: 0px 10px 10px 0px;
    color: rgb(255, 125, 26);
    font-size: 2em;
}
.btn-restar:hover,
.cant-obj,
.btn-sumar{
    cursor: pointer;
}
/*----------- media -------------*/
@media (max-width: 80em) {
    html {
        font-size: 100%;
    }
}
@media (max-width: 70em) {
    html {
        font-size: 90%;
    }
}
@media (max-width: 70em) {
    html {
        font-size: 80%;
    }
}
@media (max-width: 60em) {
    html {
        font-size: 70%;
    }
}
/* lightbox */
.lightbox{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(64, 64, 64,.6);
    width: 100%;
    height: 100vh;
}
.light-hidden{
    display: none;
}

.main-lightbox{
    width: 450px; 
    height: 600px;
}
.btn-style{
    border-radius: 50%;
    height: 45px;
    width: 45px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(24, 24, 24);
    position: relative;
    top: 220px;
    font-size: 1.4em;
}
.btn-adelante{
    left: 95%;
    z-index: 999;
    top: 195px;
    cursor: pointer;
}
.btn-atras{
    margin: -23px;
    z-index: 999;
    cursor: pointer;
}
.btn-x{
    top: -10px;
    left: 94%;
    z-index: 999;
    color: #ffffff;
    position: relative;
    font-size: 1.9em;
    cursor: pointer;
}
.img-main-light{
    position: relative;
    top: -45px;
    width: 100%;
    border-radius: 20px;
    z-index: 20;
}



.light-enlinea{
    display: grid;
    grid-area: img-box-main;
    width: 100%;
    grid-template:"box-mini1  empty1    box-mini2  empty2    box-mini3  empty3    box-mini4"auto/
                    90px        auto     90px     auto      90px       auto     90px;
    justify-content: center;
    align-items: center;
    gap: 10px;             
}

