*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.barra {
    width: 100vw;
    display: grid;
    grid-template:
        "empty-1    logo    buscador    ubicacion   carrito   cmr   cuenta empty" 10vh /
        1fr          12vw      30vw      10vw       6vw    5vw      5vw    1fr ;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.box {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}

.logo-hc{
    width: 100%;
    margin-right: 30px;
}
.compra {
    background-color: rgb(221,0,33);
    color: white;
    width: 26px;
    height: 26px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.busca{
    width: 93%;
    border: none;
    align-items: center;
}

.lupa{
    width: 7%;
    font-size: 1.3em;
    height: 45px;
    justify-content: center;
    align-items: center;
    display: flex;
}

input[type="text"] {
    padding: 6px;
    margin-left: 2px;
    width: 98%;
    height: 31px;
    border: none;
}

input[type="text"]:focus {
    outline: none;
}

.busba{
    border: none;
}

.seeker {
    margin-top: 12px;
    height: 45px;
    border: 1px solid rgb(228, 227, 227);
}

.ubicacion{
    padding-left: 10px;
    display: flex;
    height: 100%;
    width: 92%;
}
.location{
    font-size: 1.4em;
}

.para {
    font-size: 0.7em;
    text-align: left;
}

.city{
    color: rgb(0,114,206);
    font-size: 1.3em;
}

.para2 {
    font-size: 0.6em;
    text-align: left;
}

.cmr {
    display: flex;
}

.puntos,.cart {
    font-size: 1.5em;
}

.shop{
    margin-left: 10px;
    margin-right: 10px;
}
.horizontal-menu{
    width: 100%;
    height: 4.0625rem;
    background: #fff;
    border-top: 0.0625rem solid #f5f5f5;
    border-bottom: 0.0625rem solid #f5f5f5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container-menu-hori {
    padding: 0;
    width: 100%;
}
.ul-menu-hori{
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
}
.ul-menu-hori li {
    width: 7vw; 
    display: flex;
}
.ul-menu-hori li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
    font-size: .625rem;
    padding: 0 0.625rem;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}
.container-mobile{
    display: none;
}
.div-search{
    display: none;
}
.container-chat-all{
    position: fixed;
    left: 75vw;
    top: 42vh;
    height: 48vh;
    width: 22vw;
    background-color: aqua;
    border-radius: 10px;
}
.container-chat{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 89vh;
    left: 79vw;
    width: 18vw;
    height: 100px;
    
}
.container-message{
    width: 70%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.message{
    font-size: .8rem;
    background-color: rgb(255, 255, 255);
    padding: 12px;
    border: 1px solid rgb(225, 225, 225);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.container-ana{
    cursor: pointer;
    background-color: bisque;
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: rgb(10, 111, 213);
    color: white;
}
.container-ana:hover{
    opacity: .8;
}
.x-anna{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.9vw;
    padding: 10px;
    color: #f5f5f5;
    border-radius: 100px;
    height: 4vh;
    background-color:rgb(10, 111, 213);
    position: fixed;
    top: 91vh;
    left: 93vw;
    font-size: 1.5rem;
    cursor: pointer;
}
.x-anna:hover{
    transition: 1s;
    background-color: #f5f5f5;
    color:rgb(10, 111, 213);
}
.container-x-anna{
    display: none;
}

@media (max-width: 768px) {
    .container{
        display: none;
    }
    .container-mobile {
        display: flex;
        align-items: center;
    }
    
    .mobile-menu {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .hamburger,
    .lupa {
        font-size: 1.5em;
        color: rgb(0, 0, 0);
        padding: 5px;
    }
    .hamburger{
        font-size: 1.8em;
        margin: 0 10px 0 2px;
    }
    .lupa i{
        position: relative;
        right: -100px;
    }
    .logo-mobile img {
        width: 40px;
        height: auto;
    }

    .box {
        font-size: 1.2em;
        color: rgb(0, 0, 0);
        display: flex;
        align-items: center;
        padding: 5px;
    }

    .shop {
        display: flex;
        align-items: center;
        padding: 5px;
        position: relative;
        right: -95px;
    }

    .compra {
        background-color: rgb(221, 0, 33);
        color: rgb(255, 255, 255);
    }

    .cart {
        margin-left: 5px;
    }
    .user {
        position: relative;
        right: -35px;
        font-size: 1.5em;
    }
    .div-search{
        display: block;
    }
}

/*js */

.search{
    display: none;
    justify-content: center;
    align-items: center;
    height: 10vh;

}
.search .lupa-hidden{
    margin: 5px;
    font-size: 1.4em;
}
.search .x-hidden{
    margin: 7px;
    font-size: 1.4em;
}