*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
.nav {
    background-color: rgb(249, 249, 249);
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    border-right: thick solid rgb(145, 142, 142);
}

.icon-style {
    margin: 17px 30px;
    font-size: 1em;
    cursor: pointer;
    color: rgb(135, 150, 161);
}
.li:hover {
    background-color: rgb(230, 235, 239);
    letter-spacing: 0.9px;
}
hr {
    width: 230px;
    margin: 0 10px 0 10px;
    color: transparent;
}
.li {
    cursor: pointer;
}

