*{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

.title{
    display: inline;
    text-align: center;
    color: #C3C5C6;
}

.img-size{
    width: 100%;
    border-radius: 20px;
}

.box-pro{
    display: inline-block; 
    text-align: center;
    width: 25%;
    margin: 3.8%;
}

h3, p{
    margin: 10px;
}

.title h1, h2, li {
    background-color: #262A2D;
}
li {
    color: #C3C5C6;
}
