*{
    padding: 0;
    margin: 0;
}

.h{
    display: inline;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 5px;
}

.img-size{
    width: 100%;
}

.container {
    display: flex;
}
.box-pro{
    text-align: center;
    width: 30%;
    margin: 2%;
}

h3, p{
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


