*{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

.title{
    display: inline;
    text-align: center;
    color: #C3C5C6;
}

.box-pro{
    display: inline-block; 
    margin: 42px;
    vertical-align: top;
    width: 550px;
}

.img-size{
    width: 100%;
    border-radius: 6%;
    border: 5px solid black;
}

h3, p{
    margin: 10px;
}

.title h1, h2, li {
    background-color: #262A2D;
}

