*{
    padding: 0;
    margin: 0;
}
/* -------HEADER----------*/

.box-header{
    display: grid;
    width: 100%;
    grid-template: "blancoHeader1 logo blancoHeader2 nav login menu-hambur"   60px 
                    "mainImg      mainImg mainImg    mainImg mainImg mainImg"  500px/
                    100px         120px   100px 1fr  100px   80px;
}
.logo{
    grid-area: logo ;
    background-color: rgb(194, 169, 120);
}
.nav{
    grid-area: nav;
    background-color: rgba(14, 62, 192, 0.329);
}
.login{
    grid-area: login;
    background-color: rgb(64, 64, 64);
}
.menu-hambur{
    grid-area: menu-hambur;
    background-color: aquamarine;
}
.texto-grid{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.blancoHeader1{
    grid-area: blancoHeader1;
    background-color: rgb(22, 42, 99);
}
.blancoHeader2{
    grid-area: blancoHeader2;
    background-color: rgb(22, 42, 99);
}
.mainImg{
    grid-area: mainImg;
    background-color: dodgerblue;
}

/* ---------- BODY ----------- */

.box-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.imgBody {
    margin: 100px;
    width: 500px;
    height: 400px;
    background-color: rgb(194, 169, 120);
}
.textBody {
    margin: 100px;
    width: 500px;
    height: 400px;
    background-color: rgb(64, 64, 64);
}
.box-body2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(246, 246, 246);
}
.box-body3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* ------------ SEMIFOOT ---------*/
.boxFoot{
    display: grid;
    justify-content: center;
    background-color: rgb(246, 246, 246);
}
.titleFoot{
    margin: 100px;
    width: 700px;
    height: 100px;
    background-color: grey;
}
.textFoot{ 
    margin: 0 100px ;
    width: 700px;
    height: 200px;
    background-color: rgb(126, 92, 48);
}
.imgFoot{
    margin: 50px;
    width: 800px;
    height: 500px;
    background-color: rgb(185, 140, 72);
}
.textFoot2{ 
    margin: 0 350px ;
    width: 200px;
    height: 50px;
    background-color: rgb(126, 92, 48);
}
/* -------- FOOTER ------------*/

.footer{
    margin-top: 60px;
    height:570px;
    background-color: rgb(64, 64, 64); 
    display: grid; 
    grid-gap: 40px;
    grid-template: "redes produc company recursos poli" 
                    /100px 100px 100px   100px    100px; 
}
/* .redes{
    margin: 80px 0 0 70px;
    grid-area: redes;
    height: 60%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center; 
    float: right;
}
.produc{
    margin: 80px 0 0 70px;
    grid-area: produc;
    height: 60%;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.company {
    margin: 80px 0 0 70px;
    grid-area: company;
    height: 60%;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recursos {
    margin: 80px 0 0 70px;
    grid-area: recursos;
    height: 60%;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
}
.poli {
    margin: 80px 80px 0 70px;
    grid-area: poli;
    height: 60%;
    background-color: rgb(148, 148, 33);
    display: flex;
    justify-content: center;
    align-items: center;
}
.disc {
    height: 60px;
    border-radius: 20%;
    width: 100%;
    background-color: brown; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.registrar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    height: 60px;
    width: 100%;
    background-color: brown;
} */
@media screen and (max-width: 800px) {
    /* Cambios en el header */
    .box-header{
        grid-template: 
            "logo login menu hambur " 80px
            "main-hambur" 100%
            "blacoHeader2" 20%
            /1fr;
    }
    .nav {
        display: none;
    }
    .menu-hambur {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .texto-grid {
        font-size: 1em;
    }

    /* Cambios en el body */
    .box-body {
        flex-direction: column;
        align-items: center;
    }

    .imgBody, .textBody {
        margin: 50px;
        width: 90%;
        height: 300px;
    }

    /* Cambios en el footer */
    .footer {
        margin-top: 60px;
        height: 100px;
        width: 100%;
        /* grid-template:
            "redes" auto
            "produc" auto
            "company" auto
            "recursos" auto
            "poli" auto
            / 1fr;
    } */
/* 
    .disc, .registrar {
        margin: 0;
        position: relative;

    */
    } 
}

@media screen and (max-width: 600px) {
    /* Cambios en el header */
    .box-header {
        grid-template: 
            "blancoHeader1 logo" 60px
            "nav menu-hambur" auto
            "login" auto
            "mainImg" auto
            / 1fr 80px;
    }

    .nav {
        display: none;
    }

    .menu-hambur {
        justify-content: flex-end;
    }

    .texto-grid {
        font-size: 0.7em;
    }

    /* Cambios en el body */
    .imgBody, .textBody {
        margin: 30px;
        width: 90%;
        height: 250px;
    }

    /* Cambios en el footer */
    .footer {
        margin-top: 30px;
        width: 100%;
        /* grid-template:
            "redes produc" auto
            "company recursos" auto
            "poli poli" auto
            / 1fr 1fr;
    }

    .disc, .registrar {
        margin: 0;
        position: relative;
        height: 50px;
        border-radius: 10%;
        */
    } 
}
