*{
    padding: 0;
    margin: 0;
}
/* -------HEADER----------*/

.box-header{
    display: grid;
    grid-template: "blancoHeader1 logo blancoHeader2 nav login menu-hambur"   60px 
                    "mainImg      mainImg mainImg    mainImg mainImg mainImg"  600px/
                    200px         120px 120px 1fr 250px  80px;
}
.logo{
    grid-area: logo ;
    background-color: rgb(194, 169, 120);
}
.nav{
    grid-area: nav;
    background-color: rgba(14, 62, 192, 0.329);
}
.login{
    grid-area: login;
    background-color: rgb(64, 64, 64);
}
.menu-hambur{
    grid-area: menu-hambur;
    background-color: aquamarine;
}
.texto-grid{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.blancoHeader1{
    grid-area: blancoHeader1;
    background-color: rgb(22, 42, 99);
}
.blancoHeader2{
    grid-area: blancoHeader2;
    background-color: rgb(22, 42, 99);
}
.mainImg{
    grid-area: mainImg;
    background-color: dodgerblue;
}

/* ---------- BODY ----------- */

.box-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.imgBody {
    margin: 100px;
    width: 500px;
    height: 400px;
    background-color: rgb(194, 169, 120);
}
.textBody {
    margin: 100px;
    width: 500px;
    height: 400px;
    background-color: rgb(64, 64, 64);
}
.box-body2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(246, 246, 246);
}
.box-body3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* ------------ SEMIFOOT ---------*/
.boxFoot{
    display: grid;
    justify-content: center;
    background-color: rgb(246, 246, 246);
}
.titleFoot{
    margin: 100px;
    width: 700px;
    height: 100px;
    background-color: grey;
}
.textFoot{ 
    margin: 0 100px ;
    width: 700px;
    height: 200px;
    background-color: rgb(126, 92, 48);
}
.imgFoot{
    margin: 50px;
    width: 800px;
    height: 500px;
    background-color: rgb(185, 140, 72);
}
.textFoot2{ 
    margin: 0 350px ;
    width: 200px;
    height: 50px;
    background-color: rgb(126, 92, 48);
}
/* -------- FOOTER ------------*/

.footer{
    margin-top: 60px;
    height:570px;
    background-color: rgb(64, 64, 64); 
    display: grid; 
    grid-gap: 40px;
    grid-template: "redes produc company recursos poli" 
                    / 250px; 
}
.redes{
    margin: 80px 0 0 70px;
    grid-area: redes;
    height: 60%;
    background-color: aqua; 
}
.produc{
    margin: 80px 0 0 70px;
    grid-area: produc;
    height: 60%;
    background-color: blue;
}
.company {
    margin: 80px 0 0 70px;
    grid-area: company;
    height: 60%;
    background-color: orange;
}
.recursos {
    margin: 80px 0 0 70px;
    grid-area: recursos;
    height: 60%;
    background-color: purple;
}
.poli {
    margin: 80px 80px 0 70px;
    grid-area: poli;
    height: 60%;
    background-color: yellow;
}
hr{
    width: 1550px;
    height: .1px;
    margin-left: 180px;
    background-color: dodgerblue;
}
.disc {
    margin: 19% 0 0 10%;
    position: absolute;
    height: 60px;
    border-radius: 20%;
    background-color: brown; 
}

.registrar {
    position: absolute;
    border-radius: 20%;
    margin: 19% 0 0 87%;
    height: 60px;
    background-color: brown;
}