* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
}
.container {
  height: 100vh;
  width: 100vw; 
  position: relative; 
  background-image: url(../img/ovni/space.jpeg);
  background-repeat: repeat-y;
  background-size: cover;
}
.earth{
  background-image: url(../img/ovni/5892479.png);
  height: 22%;
  width: 10%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute; 
  bottom: 30px;
  right: 10px;
}
.cohete{
  background-image: url(../img/ovni/Astrounauta_en_cohete.png);
  height: 25%;
  width: 12%;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scaleX(-1);
  position: absolute; 
  bottom: 580px;
  right: 480px;
  transition: all .9s ease; 
}
@media only screen and (max-width: 1366px) {
  .cohete {
    bottom: 150px;
    right: 150px;
    transition: all .9s ease; 
  }
}
@media only screen and (max-width: 805px) {
  .cohete {
    bottom: -150px;
    right: -50px;
    transition: all .9s ease; 
  }
}
