* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}
.container {
  height: 100vh;
  width: 100vw; 
  position: relative; 
  background-repeat: repeat-y;
  background-size: cover;
  background-image: url(../img/ovni/space.jpeg);
  animation: scrollBackground 10s linear infinite
}
@keyframes scrollBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
@keyframes earth {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.earth{
  background-image: url(../img/ovni/5892479.png);
  height: 22%;
  width: 10%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute; 
  bottom: 30px;
  right: 10px;
}
.earth2{
  background-image: url(../img/ovni/5892479.png);
  height: 22%;
  width: 10%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute; 
  bottom: 30px;
  right: 10px;
  animation:  earth 5s infinite;
}
.cohete{
  background-image: url(../img/ovni/Astrounauta_en_cohete.png);
  height: 25%;
  width: 12%;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scaleX(-1);
  position: absolute; 
  bottom: 150px;
  right: 155px;
  transition: all .9s ease; 
}
@media only screen and (max-width: 1366px) {
  .cohete {
    bottom: 150px;
    right: 150px;
    transition: all .9s ease; 
  }
}
@media only screen and (max-width: 805px) {
  .cohete {
    bottom: -150px;
    right: -50px;
    transition: all .9s ease; 
  }
}
/* Estilo para el marcador de puntaje */
.score {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  font-size: 24px;
  font-weight: bold;
}
.projectiles {
  position: absolute;
  width: 5px;
  height: 10px;
  background-color: red;
}
