*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: #0d0d0d;
    animation: background-color 8s ease infinite alternate;
}
@keyframes background-color {
    0% {
    background-color: #0d0d0d;
    }
    50% {
    background-color: #444343;
    }
    100% {
    background-color: #1d1d1d;
    }
}

/* --------- NAV -------- */
.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 999;
    background-color: rgb(32, 33, 36,.9);
}
.nav{
    display: grid;
    grid-template:"empty-left logo   empty-middle   empty-middle  empty-middle  menu   empty-right" 5.2vw/ 
                    1fr              20%       1fr          2fr            1fr         30%     1fr;
}
/*          */
.main-nav{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(48, 48, 48,.9);
}
.bar-menu{
    color: rgb(255, 255, 255);
    font-size: 2.2vw;
    position: fixed;
    visibility: hidden;
    top: 1.5vh;
    left: 3vh;
}
/*          */
.logo {
    margin-top: 3.5vh; 
    grid-area: logo;
    font-size: 1.3vw; 
    color: aliceblue;
}

.menu {
    grid-area: menu;
    margin-top: 2vh; 
    text-align: center;
}

.menu ul a {
    color: aliceblue;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3vw; 
    font-weight: 500;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.menu ul li {
    display: inline-block;
    margin: 2vh;
}


.menu ul li a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.2vh; 
    bottom: -0.3vh; 
    left: 0;
    background-color: #fff;
    transform: scaleX(0);
    transition: all 0.3s ease-out;
}

.menu ul li a:hover:before {
    transform: scaleX(1);
}

.name {
    text-align: center;
    margin-left: 0.8vw; 
    margin-right: 0.8vw; 
    margin-top: 10vh; 
}




.name h1 {
    font-size: 7vw; 
    color: transparent;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to right, #F20544, #F05F1D, #F2B138, #0B9FD9, #1CCCD3, #21E6C1, #21C36F, #A0E934) no-repeat;
    background-size: 1000%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: colorchange 20s ease-in-out infinite;
}


@keyframes colorchange {
    0% {
        background-position: 0% center;
    }
    50% {
        background-position: 100% center;
    }
    100% {
        background-position: 0% center;
    }
}
.h3 {
    margin-top: 2vh; 
    text-align: center;
    font-size: 1.7vw; 
    width: 28vw; 
    margin: 2vh auto; 
    align-items: center;
    color: aliceblue;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 22vw; 
    width: 4.7vw; 
    height: 4.7vw; 
    font-size: 3vw; 
    background-color: #e6dfdf;
    border-radius: 50%;
}

.social:hover {
    font-size: 4.5vw;
    transition: 1s;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
}

.about-me {
    height: 90vh;
    width: 100%;
    scroll-margin-top: 15ex;
}

.hh3 {
    margin-top: 6vh; 
    text-align: center;
    font-size: 2.3vw; 
    color: aliceblue;
}

.hh4 {
    margin-top: 4vh; 
    text-align: center;
    font-size: 2vw; 
    margin-bottom: 4vh; 
    color: aliceblue;
}

.projects {
    margin-top: 2vh; 
    scroll-margin-top: 15ex;
    display: grid;
    grid-template: "empty-left fonts empty0 img empty1 menus empty-right"
                    "empty-left tablas empty0 slider empty1 flexgrid empty-right" /
                    1fr 30vw 1fr 30vw 1fr 30vw 1fr; 
}


.fonts{
    grid-area: fonts;
} 

.img{
    grid-area: img;
} 

.menus{
    grid-area: menus;
} 

.tablas{
    grid-area: tablas;
} 

.flexgrid{
    grid-area: flexgrid;
} 

.slider{
    grid-area: slider;
}
img {
    width: 16vw; 
    height: 12.5vw; 
}

.pop {
    color: rgb(31, 167, 13);
}

.menu ul li:hover a {
    color: rgb(243, 17, 17);
}

.logo > h2:hover {
    padding: 1px;
    cursor: pointer;
}

.auto-type {
    border-bottom: 2px solid rgb(25, 189, 46);
}



/*------------ scroll -------------*/
.container-box {
    display: flex;
    overflow-x: scroll;
    padding: 3vw; 
    width: 20vw; 
    height: 22vw; 
    scroll-snap-type: x mandatory;
    scroll-padding: 2vw; 
    border-radius: 8px;
    gap: .5vw; 
    margin: 1vh auto; 
}

.item-box {
    flex: 0 0 100%; 
    padding: 1vw;
    border-radius: 8px;
    scroll-snap-align: start;
    border: 0.2vw solid rgba(175, 171, 171, 0.5); 
}



/* Para pantallas de 1050px*/

@media only screen and (max-width: 1150px) {
    .nav {
        grid-template: "empty-left   logo     empty-middle  empty-middle  empty-middle   menu   empty-right" 10vh /
            1fr 14vw 1fr 1fr 1fr 30vw 1fr; 
    }
    
    .menu ul {
        display: flex;
        flex-direction: row;
    }

    .menu ul li {
        display: inline-block;
        margin: 2vh 1vw;
    }
}

/* Para pantallas de 450px*/
@media only screen and (max-width: 450px){
    .nav{
        grid-template:"empty-left   logo  empty-middle    hamburger-menu  " 100px/ 
                        1fr        60%     1fr            20% ;
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        margin-bottom: 10%;
    }
    .menu{
        display: none;
    }
    .name h1{
        font-size: 4em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .social{
        display: none;
    }
   
    .main-menu{
        background-color: rgb(96, 96, 96,.9);
        margin-top: 81px;
        padding: 0;
        text-align: center;
    }
    .main-nav{
        height: 80px;;
    }
    .main-menu{
        display: none; 
    }
    .main-menu-visible{
        display: block;
        background-color: rgb(48, 48, 48,.9);
        margin-top: 81px;
        padding: 0;
        margin-bottom: 1px;
    }
    .bar-menu{
        visibility: visible;
        left: 92%;
    }
    .bar-menu:hover{
        cursor: pointer;
    }
    .item-main-menu{
        display: block;
        color: black;
        text-align: center;
        position: relative;
    }
    .item-main-menu:hover{
        border-bottom: 1px solid white;
    }
}



