*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: #0d0d0d;
    animation: background-color 8s ease infinite alternate;
}
@keyframes background-color {
    0% {
    background-color: #0d0d0d;
    }
    50% {
    background-color: #444343;
    }
    100% {
    background-color: #1d1d1d;
    }
}

/* --------- NAV -------- */
.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: rgb(32, 33, 36,.9);
}
.nav{
    display: grid;
    grid-gap: 20px;
    grid-template:"empty-left logo   empty-middle   empty-middle  empty-middle  menu   empty-right" 100px/ 
                    1fr              20%       1fr          2fr            1fr         30%     1fr;
}
/*          */
.main-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(48, 48, 48,.9);
    height: 80px;
}
.bar-menu{
    color: rgb(255, 255, 255);
    font-size: 2.2em;
    position: fixed;
    visibility: hidden;
    top: 15px;
    left: 30px;
}
/*          */
.logo{
    margin-top: 35px;
    grid-area: logo;
    font-size: 1.3em;
    color: aliceblue;
}

.menu{
    grid-area: menu;
    margin-top: 20px;
    text-align: center;
}

.menu ul a{
    color: aliceblue;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3em;
    font-weight: 500;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.menu ul li {
    display: inline-block;
    margin: 20px;
}

.menu ul li a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #fff;
    transform: scaleX(0);
    transition: all 0.3s ease-out;
}
.menu ul li a:hover:before {
    transform: scaleX(1);
}
/* ------- NAME  --------*/
.name {
    text-align: center;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    margin-top: 6em;
}
.name h1 {
    font-size: 7rem;
    color: transparent;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to right, #F20544, #F05F1D, #F2B138, #0B9FD9, #1CCCD3, #21E6C1, #21C36F, #A0E934) no-repeat;
    background-size: 1000%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: colorchange 20s ease-in-out infinite;
}

@keyframes colorchange {
    0% {
        background-position: 0% center;
    }
    50% {
        background-position: 100% center;
    }
    100% {
        background-position: 0% center;
    }
}
.h3 {
    margin-top: 20px;
    text-align: center;
    font-size: 1.7em;
    width: 280px;
    margin: 20px auto;
    align-items: center;
    color: aliceblue;
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 220px;
    width: 100px;
    height: 100px;
    font-size: 3em;
    background-color: #e6dfdf;
    border-radius: 50%;
}

.social:hover{
    font-size: 4.5em;
    transition: 1s;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
}
.about-me{
    height: 900px;
    width: 100%;
    scroll-margin-top: 15ex;
}
.hh3{
    margin-top: 60px;
    text-align: center;
    font-size: 2.3em;
    color: aliceblue;
}
.hh4{
    margin-top: 40px;
    text-align: center;
    font-size: 2em;
    margin-bottom: 40px;
    color: aliceblue;
}
.projects{
    margin-top: 20px;
    scroll-margin-top: 15ex;
}

.fonts{
    display: grid;
    margin-top: 20px;
    grid-gap: 30px;
    grid-template:  "empty-left   font1      font2    font3       empty-right" 250px
                    "empty-left   empty      font4    empty-lol   empty-right" 250px/
                    1fr           27%         27%      27%         1fr;
} 
.font1{ 
    grid-area: font1;
    justify-content: center;
    display: flex;
    border: 2px solid rgba(175, 171, 171, 0.5);
}
.font2{
    grid-area: font2;
    justify-content: center;
    display: flex;
    border: 2px solid rgba(175, 171, 171, 0.5);
}
.font3{
    grid-area: font3;
    justify-content: center;
    display: flex;
    border: 2px solid rgba(175, 171, 171, 0.5);
}
.font4{
    grid-area: font4;
    justify-content: center;
    display: flex;
    border: 2px solid rgba(175, 171, 171, 0.5);
}
.img{
    display: grid;
    margin-top: 20px;
    grid-gap: 30px;
    grid-template:  "empty-left   img1      img2     img3       empty-right" 250px
                    "empty-left   empty     img4    empty-lol   empty-right" 250px/
                    1fr           27%       27%      27%         1fr;
} 
.img1{ 
    grid-area: img1;
    justify-content: center;
    display: flex;
    border: 2px solid rgba(175, 171, 171, 0.5);
}
.img2{
    grid-area: img2;
    justify-content: center;
    display: flex;
    border: 2px solid rgba(175, 171, 171, 0.5);
}
.img3{
    grid-area: img3;
    justify-content: center;
    display: flex;
    border: 2px solid rgba(175, 171, 171, 0.5);
}
.img4{
    grid-area: img4;
    justify-content: center;
    display: flex;
    border: 2px solid rgba(175, 171, 171, 0.5);
}
.menus{
    display: grid;
    margin-top: 20px;
    grid-gap: 30px;
    grid-template:  "empty-left   menu1     menu2     menu3       empty-right" 250px
                    "empty-left   menu4     menu5   empty-lol   empty-right" 250px/
                    1fr           27%       27%      27%         1fr;
} 
.menu1{ 
    grid-area: menu1;
    justify-content: center;
    display: flex;
    border: 2px solid rgba(175, 171, 171, 0.5);
}
.menu2{
    grid-area: menu2;
    justify-content: center;
    display: flex;
    border: 2px solid rgba(175, 171, 171, 0.5);
}
.menu3{
    grid-area: menu3;
    justify-content: center;
    display: flex;
    border: 2px solid rgba(175, 171, 171, 0.5);
}
.menu4{
    grid-area: menu4;
    justify-content: center;
    display: flex;
    border: 2px solid rgba(175, 171, 171, 0.5);
}
.menu5{
    grid-area: menu5;
    justify-content: center;
    display: flex;
    border: 2px solid rgba(175, 171, 171, 0.5);
}
.tablas{
    display: grid;
    margin-top: 20px;
    grid-gap: 30px;
    grid-template:  "empty-left   tabla1    tabla2     tabla3       empty-right" 250px
                    "empty-left   tabla5     tabla4  empty-lol   empty-right" 250px/
                    1fr           27%       27%      27%         1fr;
} 

.tabla1{ 
    grid-area: tabla1;
    justify-content: center;
    display: flex;
    border: 2px solid rgba(175, 171, 171, 0.5);
}
.tabla2{
    grid-area: tabla2;
    justify-content: center;
    display: flex;
    border: 2px solid rgba(175, 171, 171, 0.5);
}
.tabla3{
    grid-area: tabla3;
    justify-content: center;
    display: flex;
    border: 2px solid rgba(175, 171, 171, 0.5);
}
.tabla4{
    grid-area: tabla4;
    justify-content: center;
    display: flex;
    border: 2px solid rgba(175, 171, 171, 0.5);
}
.tabla5{
    grid-area: tabla5;
    justify-content: center;
    display: flex;
}
.flexgrid{
    display: grid;
    margin-top: 20px;
    grid-gap: 30px;
    grid-template:  "empty-left   flexgrid1    flexgrid2     flexgrid3       empty-right" 250px
                    "empty-left   flexgrid4     flexgrid5    flexgrid6   empty-right" 250px/
                    1fr           27%             27%        27%         1fr;
} 
.flexgrid1{ 
    grid-area: flexgrid1;
    justify-content: center;
    display: flex;
    border: 2px solid rgba(175, 171, 171, 0.5);
}
.flexgrid2{
    grid-area: flexgrid2;
    justify-content: center;
    display: flex;
    border: 2px solid rgba(175, 171, 171, 0.5);
}
.flexgrid3{
    grid-area: flexgrid3;
    justify-content: center;
    display: flex;
    border: 2px solid rgba(175, 171, 171, 0.5);
}
.flexgrid4{
    grid-area: flexgrid4;
    justify-content: center;
    display: flex;
    border: 2px solid rgba(175, 171, 171, 0.5);
}
.flexgrid5{
    grid-area: flexgrid5;
    justify-content: center;
    display: flex;
    border: 2px solid rgba(175, 171, 171, 0.5);
}
.flexgrid6{
    grid-area: flexgrid6;
    justify-content: center;
    display: flex;
    border: 2px solid rgba(175, 171, 171, 0.5);
}
/* .border {
    border-radius: 5%;
    border: 1px solid #000;
    animation: border-colors 3s infinite;
} */
/* 
.border {
    border-radius: 5%;
    border: 1px solid #000;
    animation: border-colors 3s infinite;
}

@keyframes border-colors {
    0% {
        border-color: #ccc;
    }
    25% {
        border-color: #999;
    }
    50% {
        border-color: #666;
    }
    75% {
        border-color: #333;
    }
    100% {
        border-color: #ccc;
    }
} */
img{
    width:250px;
    height:250px;
}
.pop{
    color: rgb(31, 167, 13);
}
.menu ul li:hover a {
    color: rgb(243, 17, 17);
}
.logo >h2:hover{
    padding: 1px;
    cursor: pointer;
}
.blox{
    display: none;
}
.auto-type {
    border-bottom: 2px solid rgb(25, 189, 46);
}
/*------------ scroll -------------*/
.container-box{
    display: flex;
    overflow-x: scroll;
    padding: 24px;
    width: 400px;
    height: 360px;
    scroll-snap-type: x mandatory;
    scroll-padding: 24px;
    border-radius: 8px;
    gap: 12px;
    margin: 2em auto;
}
.item-box{
    flex: 0 0 100%;
    padding: 24px;
    border-radius: 8px;
    scroll-snap-align: start;
}

/*------------- image scroll ---------------*/
.gallery {
    display: flex;
    height: 15em;
    gap: 1em;
    flex-wrap: wrap;
    margin: 0 50px;
  }
  
  .gallery > div {
    flex: 1;
    border-radius: 1em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: flex .4s ease-in-out;
  }
  
  .gallery > div:hover {
    flex: 5;
  }
  

  
  @media (min-width: 576px) {
    /* Estilos para teléfonos móviles en modo paisaje */
    .gallery {
      flex-direction: row;
      height: 10em;
    }
    
    .gallery > div {
      flex: 1;
    }
  }
  
  @media (min-width: 768px) {
    /* Estilos para tablet */
    .gallery {
      height: 15em;
      margin: 0 50px;
    }
  }
  

/* Para pantallas de 1050px*/

@media only screen and (max-width: 1050px){
    .nav{
        grid-template:"empty-left   logo     empty-middle  empty-middle  empty-middle   menu   empty-right" 100px/ 
                        1fr         20%       1fr            1fr           1fr         30%     1fr;
    }
    .menu ul{
        display: flex;
        flex-direction: row;
    }

    .menu ul li {
        display: inline-block;
        margin: 20px 10px;
    }
    .fonts{
        grid-template:  "empty-left   font1   empty   font2     empty-right" 250px
                        "empty-left   font3   empty   font4     empty-right" 250px/
                        1fr           40%      1fr      40%       1fr;
    } 
    .img{
        grid-template:  "empty-left   img1   empty   img2     empty-right" 250px
                        "empty-left   img3   empty   img4     empty-right" 250px/
                        1fr           40%     1fr    40%       1fr;
    } 
    .menus{
        grid-template:  "empty-left   menu1   empty   menu2     empty-right" 250px
                        "empty-left   menu3   empty   menu4     empty-right" 250px
                        "empty-left   menu5   empty   empty-s   empty-right"/
                        1fr           40%     1fr    40%       1fr;
    } 
    .tablas{
        grid-template:  "empty-left   tabla1   empty   tabla2     empty-right" 250px
                        "empty-left   tabla3   empty   tabla4     empty-right" 250px/
                        1fr           40%     1fr    40%       1fr;
    } 
    .flexgrid{
        grid-template:  "empty-left   flexgrid1   empty   flexgrid2     empty-right" 250px
                        "empty-left   flexgrid3   empty   flexgrid4     empty-right" 250px
                        "empty-left   flexgrid5   empty   flexgrid6     empty-right"/
                        1fr           40%          1fr    40%       1fr;
    }
}
/* Para pantallas de 450px*/
@media only screen and (max-width: 450px){
    .nav{
        grid-template:"empty-left   logo  empty-middle    hamburger-menu  " 100px/ 
                        1fr        60%     1fr            20% ;
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        margin-bottom: 10%;
    }
    .menu{
        display: none;
    }
    .name h1{
        font-size: 4em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .social{
        display: none;
    }
    .fonts{
        grid-template:  "empty-left   font1    empty-right" 250px
                        "empty-left   font2    empty-right" 250px
                        "empty-left   font3    empty-right" 250px
                        "empty-left   font4    empty-right" 250px/
                        1fr           80%        1fr;
    } 
    .img{
        grid-template:  "empty-left   img1    empty-right" 250px
                        "empty-left   img2    empty-right" 250px
                        "empty-left   img3    empty-right" 250px
                        "empty-left   img4    empty-right" 250px/
                        1fr           80%        1fr;
    } 
    .menus{
        grid-template:  "empty-left   menu1    empty-right" 250px
                        "empty-left   menu2    empty-right" 250px
                        "empty-left   menu3    empty-right" 250px
                        "empty-left   menu4    empty-right" 250px
                        "empty-left   menu5    empty-right" 250px/
                        1fr           80%     1fr;
    } 
    .tablas{
        grid-template:  "empty-left   tabla1    empty-right" 250px
                        "empty-left   tabla2    empty-right" 250px
                        "empty-left   tabla3    empty-right" 250px
                        "empty-left   tabla4    empty-right" 250px/
                        1fr           80%        1fr;
    } 
    .flexgrid{
        grid-template:  "empty-left   flexgrid1       empty-right" 250px
                        "empty-left   flexgrid2       empty-right" 250px
                        "empty-left   flexgrid3       empty-right" 250px
                        "empty-left   flexgrid4       empty-right" 250px
                        "empty-left   flexgrid5       empty-right" 250px
                        "empty-left   flexgrid6       empty-right" 250px/
                        1fr           80%              1fr;
    }
    .main-menu{
        background-color: rgb(96, 96, 96,.9);
        margin-top: 81px;
        padding: 0;
        text-align: center;
    }
    .main-nav{
        height: 80px;;
    }
    .main-menu{
        display: none; 
    }
    .main-menu-visible{
        display: block;
        background-color: rgb(48, 48, 48,.9);
        margin-top: 81px;
        padding: 0;
        margin-bottom: 1px;
    }
    .bar-menu{
        visibility: visible;
        left: 92%;
    }
    .bar-menu:hover{
        cursor: pointer;
    }
    .item-main-menu{
        display: block;
        color: black;
        text-align: center;
        position: relative;
    }
    .item-main-menu:hover{
        border-bottom: 1px solid white;
    }
}



